<form name="registrationForm" method="POST" action="/registration">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="firstName" name="firstName" placeholder="Имя ">
  <input type="lastName" name="lastName" placeholder="Фамилия">
  <input type="date" name="bDay" placeholder="Дата рождения">
  <input type="age" name="age" placeholder="Возраст">
  <input type="addres" name="addres" placeholder="Адрес">
  <input type="skills" name="skills" placeholder="Навыки">
  <input type="wishes" name="wishes" placeholder="Желания">

  <input type="submit">
</form>
